<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Record Room: Erode</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script th:src="@{/nic/vendor/jquery/jquery.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/nic/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/nic/css/base.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/nic/css/base-responsive.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/nic/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/nic/vendor/fontawesome-free/css/all.min.css}">

    <script th:src="@{/nic/js/popper.min.js}"></script>
    <script th:src="@{/nic/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/nic/js/jquery.slicknav.min.js}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body>
<div class="wrapper">
    <header th:replace="~{fragments/header :: header}"></header>
    <div th:replace="~{fragments/login :: login}"></div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>