<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="login">
    <div class="b-bg-image py-5" style="padding-bottom: 100px!important">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex">
                    <div class="align-self-center pr-5">
                        <h1 class="text-right mt-5 b-left-head">Record Room Management <br></h1>
                    </div>
                </div>

                <div class="col-lg-6 b-login-sec">
                    <div class="d-block px-5 pt-5 pb-4 border-bottom-0 b-login-w">
                        <h2 class="b-login-head">Log In</h2>
                    </div>

                    <div class="px-5 b-login-w">
                        <div th:if="${errorMessage}"
                             class="alert alert-danger text-center"
                             id="errorMsg"
                             th:text="${errorMessage}">
                        </div>

                        <form method="POST" th:action="@{/login}">
                            <div class="form-group">
                                <label for="username" class="text-white">User ID:</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Enter user ID" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-white">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                            </div>
                            <div class="text-center py-4">
                                <button type="submit" class="btn btn-primary b-btn">Log In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Auto-hide error messages after 5 seconds
        setTimeout(() => {
            let msg = document.getElementById("errorMsg");
            if (msg) msg.style.display = 'none';
        }, 5000);
    </script>
</div>
</html>